Makefile
Makefile.in
aclocal.m4
autom4te.cache/
blofeld-*.tar.gz
#blofeld/Makefile
#blofeld/Makefile.in
#blofeld/library/Makefile
#blofeld/library/Makefile.in
#blofeld/utils/Makefile
#blofeld/utils/Makefile.in
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
py-compile
#scripts/Makefile
#scripts/Makefile.in
stamp-h1
*~
*.swp
*.pyc
*.pyo
cache/
log/
build/
dist/
