Makefile
Makefile.in
aclocal.m4
autom4te.cache/
blofeld-*.tar.gz
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
py-compile
stamp-h1
blofeld.cfg
*~
*.swp
*.pyc
*.pyo
cache/
log/
build/
dist/
