html, html body {
    height: 100%;
    margin: 0;
}

body {
    background: #3c3b37;
    padding: 0;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
}

#footer {
    padding: 0 0 6px 0;
    text-align: center;
}

img, table, td, th, tr, thead {
    border: none;
}

#header {
    padding: 6px 6px 0 6px;
}

#header-widget {
    padding: 3px 0 3px 0;
    vertical-align: middle;
    clear: right;
    margin: 0;
    line-height: 0px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}

#logo {
    display: inline-block;
}

h1 {
/*    float: left;*/
    display: inline-block;
    height: 32px;
    width: 116px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url('../images/sprite.png') 0 -32px no-repeat;
}

#browser {
    padding-left: 6px;
}

td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: middle;
    padding: 3px 5px 3px 5px;
}

img.loading {
    position: relative;
    top: 50%;
}

.track-number {
    width: 2.3em;
}

#albums tr, #artists tr, #songs tr {
    height: 2em;
}

.status {
    width: 19px;
}

#songsContainer, #artistsContainer, #albumsContainer {
    padding: 0 6px 3px 0;
}

.scrollingContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    padding: 3px 3px 0 3px;
    height: 100%;
    width: 100%;
}

#player_container {
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}

#header-widget > div {
    margin: 0 3px 0 3px;
    vertical-align: middle;
}

#controls {
    display: inline-block;
    padding: 0;
}

#controls > div {
    display: inline-block;
    overflow: hidden;
}

#progress {
    display: inline-block;
    width: 100px;
}

#progress-bar {
    display: inline-block;
    width: 100%;
}

#now_playing {
    display: inline-block;
    margin: 0 0 0 3px;
    height: 32px;
    width: 50%;
    overflow: hidden;
    vertical-align: middle;
}

#now_playing td {
    padding: 0;
    margin: 0;
}

#cover_art {
    margin: 0 6px 0 6px;
    width: 32px;
    height: 32px;
    background: url('../images/sprite.png') -224px 0 no-repeat;
}

#now-playing-text {
    line-height: normal;
}

#np_title {
    font-weight: bold;
}

#find {
    float: right;
    margin: 6px 0;
    padding: 3px;
}

#clear-search {
    float: right;
    margin: 3px 0 0 3px;
}

#query {
    height: 16px;
    padding-left: 4px;
    margin: 0;
}
