<div data-role="page" data-theme="a" data-url="#songs?albums=$albums.keys[0]&artists=$artists.keys[0]" id="songs">
    <div data-role="header" data-position="fixed">
        <a href="#artists" data-role="button" data-icon="home" data-direction="reverse">All Artists</a>
        <a href="#albums?artists=$artists.keys[0]" data-role="button" data-icon="arrow-l" data-direction="reverse">$artists.values[0]</a>
        <h1>$albums.values[0]</h1>

    </div>

    <div data-role="content" id="songs-content">	
        <ol data-role="listview" id="songs-list" data-filter="true" data-filter-placeholder="Search Songs...">
#for $song in $songs
            <li>
                <img src="get_cover?albumid=$song['album_hash']&size=40" class="li-albumart"/>
                <a href="#player?songid=$song['id']">#try#$song['title']#except#unknown title#end try#<p class="ui-li-aside">#try#
                                #echo '%d:%02d' % ($song['length'] / 60, $song['length'] % 60)#
                                #except# 
                                #end try#&nbsp;</p></a></li>
#end for
        </ol>
    </div>
</div>