<div data-role="page" data-theme="a" data-url="#songs?albums=$albums.keys[0]&artists=$artists.keys[0]" data-add-back-btn="true" id="songs">
    <div data-role="header" data-position="fixed">
         <h1>$albums.values[0]</h1>

    </div>

    <div data-role="content" id="songs-content">	
        <ol data-role="listview" id="songs-list" data-filter="true" data-filter-placeholder="Search Songs...">
#for $song in $songs
            <li>
                <img src="get_cover?albumid=$song['album_hash']&size=40" class="li-albumart"/>
                <a href="#player?songid=$song['id']" class="li-song"
                                data-songid="$song['id']"
                                data-title="#try#$song['title']#except#Unknown Title#end try#"
                                data-artistid="$song['artist_hash']"
                                data-artist="#try#$song['artist']#except#Unknown Artist#end try#"
                                data-albumid="$song['album_hash']"
                                data-album="#try#$song['album']#except#Unknown Album#end try#"
                                data-length="#echo '%d:%02d' % ($song['length'] / 60, $song['length'] % 60)#"
                                data-tracknumber="#try#$song['tracknumber']#except# #end try#"
                                >
                                
                                #try#$song['title']#except#unknown title#end try#<p class="ui-li-aside">#try#
                                #echo '%d:%02d' % ($song['length'] / 60, $song['length'] % 60)#
                                #except# 
                                #end try#&nbsp;</p></a></li>
#end for
        </ol>
    </div>
</div>