<!doctype html>
<html>
    <head>
        <title>Blofeld</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <script type="text/javascript" src="./static/javascripts/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="./static/javascripts/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="./static/javascripts/jquery.lightbox-0.5.pack.js"></script>
        <script type="text/javascript" src="./static/javascripts/blofeld.js"></script>
        <link rel="stylesheet" href="./static/stylesheets/blofeld.css" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="./static/images/favicon.ico">
    </head>
    <body>
        <div id="header">
            <div><h1>Blofeld</h1></div>
            <div id="player_container">
                <ul id="controls">
                    <li id="skip_back" >back</li>
                    <li id="play">play</li>
                    <li id="pause">pause</li>
                    <li id="skip_forward">forward</li>
                </ul>
                <div id="progress">
                    <div id="progress_bar">
                        <div id="load_progress">
                            <div id="play_head"></div>
                        </div>
                    </div>
                    <div id="play_status"></div>
                </div>
                <div id="now_playing">
                    <div id="cover_art"></div>
                    <span id="np_title"></span><br>by <span id="np_artist"></span> from <span id="np_album"></span>
                </div>
            </div>
            <div id="find">
                <form name="find" action="javascript:find()" autocomplete="off">
                    <div id="search_icon"></div>
                    <div id="clear_search"></div>
                    <input type="text" name="query" id="query">
                </form>
            </div>
        </div>
        <table id="browser">
            <tr>
                <td id="artistsContainer">

                </td>
                <td rowspan="2" id="songsContainer">

                </td>
            </tr>
            <tr>
                <td id="albumsContainer">

                </td>
            </tr>
        </table>
        <div id="player"></div>
    </body>
</html>
