<!doctype html>
<html>
    <head>
        <title>Blofeld</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link type="text/css" rel="stylesheet" href="./static/css/main.css">
        <link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="./static/js/jquery.layout.min-1.2.0.js"></script>
        <script type="text/javascript" src="./static/js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="./static/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="./static/js/jquery.address-1.3.min.js"></script>
        <script type="text/javascript" src="./static/js/blofeld.js"></script>
        <script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
        <link type="image/x-icon" rel="shortcut icon" href="./static/images/favicon.ico">
    </head>
    <body class="ui-state-default">
        <div id="background-color"></div>
        <div id="splash-background" class="splash-screen"></div>
        <div id="splash-text" class="splash-screen"></div>
        <div id="header">
            <div id="header-widget" class="ui-widget ui-widget-content ui-corner-all">
                <div id="controls">
                    <button id="previous-button" >Previous</button>
                    <button id="play-button">Play</button>
                    <button id="pause-button">Pause</button>
                    <button id="next-button">Next</button>
                    <label for="repeat-button">Repeat</label>
                    <input id="repeat-button" type="checkbox">
                    <label for="shuffle-button">Shuffle</label>
                    <input id="shuffle-button" type="checkbox">
                </div>
                <div id="progress">
                    <div id="progress-bar"></div>
                    <div id="play-time"><span id="play-time-current">0:00</span><span id="play-time-total">0:00</span></div>
                </div>
                <table id="now-playing">
                    <tbody>
                        <tr>
                            <td>
                                <div id="cover-art">
                                    <img class="cover-img active" src="" width="32" height="32">
                                    <img class="cover-img inactive" src="" width="32" height="32">
                                </div>
                                </td>
                            <td id="now-playing-text">
                                <span id="now-playing-title"></span><br><span class="ui-state-disabled">by</span> <span id="now-playing-artist"></span> <span class="ui-state-disabled">from</span> <span id="now-playing-album"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="spacer"></div>
                <div id="search" class="ui-widget ui-widget-content ui-state-default ui-corner-all">
                    <form action="javascript:find()" autocomplete="off">
                        <label for="search-box">
                            <div id="clear-search" class="ui-icon ui-icon-circle-close"></div>
                        </label>
                        <input type="text" id="search-box" class="ui-corner-all">
                    </form>
                </div>
            </div>
        </div>
        <div id="browser">
            <div id="artists-container" class="table-container ui-widget ui-widget-content ui-corner-left"></div>
            <div id="albums-container" class="table-container ui-widget ui-widget-content ui-corner-left"></div>
        </div>
        <div id="songs-container" class="table-container ui-widget ui-widget-content ui-corner-left"></div>
        <div id="sidebar" class="table-container">
            <div id="sidebar-widget" class="ui-widget ui-widget-content ui-corner-left">
                <div class="scrolling-container">
                    <table id="options">
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ui-corner-all" id="bitrate-container">
                                    <div id="bitrate-slider"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ui-corner-all">
                                    <span id="amount">320</span>kbps
                                </td>
                            </tr>
                            <tr>
                                <td class="ui-corner-all">
                                    <button id="download-button">Download</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="ui-corner-all">
                                    <div id="switcher"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="footer">
        </div>
        <div id="jplayer"></div>
        <div id="cover-art-dialog">
            <img src="">
        </div>
    </body>
</html>
