<!doctype html>    
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>        <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>        <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>        <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
             Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Blofeld</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--    Mobile viewport optimized: j.mp/bplateviewport -->
<!--    <meta name="viewport" content="width=device-width; initial-scale=1.0"> -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="icon" href="static/images/app-icon-32.png" sizes="32x32"> 
    <link rel="icon" href="static/images/app-icon-64.png" sizes="64x64"> 
<!--    <link rel="apple-touch-icon" href="/apple-touch-icon.png">-->


    <!-- CSS : implied media="all" -->
    <link rel="stylesheet" href="static/css/style.css?v=1">

    <!-- Uncomment if you are specifically targeting less enabled mobile browsers
    <link rel="stylesheet" media="handheld" href="static/css/handheld.css?v=1"> -->

    <link rel="stylesheet" href="static/css/smoothness/jquery-ui-1.8.5.custom.css">


    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="static/js/modernizr-1.5.min.js"></script>

</head>

<body class="ui-state-default">

    <div id="background-color"></div>
    <div id="splash-background" class="splash-screen"></div>
    <div id="splash-text" class="splash-screen"></div>
    <div id="header">
        <div id="header-widget" class="ui-widget ui-widget-content ui-corner-all">
            <div id="controls">
                <button id="previous-button" >Previous</button>
                <button id="play-button">Play</button>
                <button id="pause-button">Pause</button>
                <button id="next-button">Next</button>
                <label for="repeat-button">Repeat</label>
                <input id="repeat-button" type="checkbox">
                <label for="shuffle-button">Shuffle</label>
                <input id="shuffle-button" type="checkbox">
            </div>
            <div id="progress">
                <div id="progress-bar"></div>
                <div id="play-time"><span id="play-time-current">0:00</span><span id="play-time-total">0:00</span></div>
            </div>
            <table id="now-playing">
                <tbody>
                    <tr>
                        <td>
                            <div id="cover-art">
                                <img class="cover-img active" src="static/images/blank.png" width="32" height="32">
                                <img class="cover-img inactive" src="static/images/blank.png" width="32" height="32">
                            </div>
                            </td>
                        <td id="now-playing-text">
                            <span id="now-playing-title"></span><br><span class="ui-state-disabled">by</span> <span id="now-playing-artist"></span> <span class="ui-state-disabled">from</span> <span id="now-playing-album"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="spacer"></div>
            <div id="search" class="ui-widget ui-widget-content ui-state-default ui-corner-all">
                <div id="search-wrapper">
                    <button id="clear-search">Clear Search</button>
                    <input type="text" id="search-box" class="ui-widget ui-widget-content ui-corner-top ui-corner-bottom">
                </div>
                
            </div>
        </div>
    </div>
    <div id="sources-pane">
        <div id="source-list" class="table-container">
            <div id="source-list-widget" class="ui-widget ui-widget-content ui-corner-left">
                <div class="scrolling-container">
                    <table id="sources">
                        <tbody>
                            <!-- <tr name="now-playing-pane" class="source" >
                                <td class="ui-corner-all">Now Playing</td>
                            </tr>
                            <tr name="play-queue" class="source" >
                                <td class="ui-corner-all">Play Queue</td>
                            </tr> -->
                            <tr name="music-library" class="source ui-state-default" >
                                <td class="ui-corner-all">Music Library</td>
                            </tr>
                            <tr>
                                <td ><hr></td>
                            </tr>
                            <tr name="preferences" class="source" >
                                <td class="ui-corner-all">Preferences</td>
                            </tr>
                            <!-- <tr name="playlists" class="source" >
                                <td class="ui-corner-all">Playlists</td>
                            </tr>
                            <tr name="settings" class="source" >
                                <td class="ui-corner-all">Settings</td>
                            </tr> -->
                            <tr name="administration" class="source" >
                                <td class="ui-corner-all">Administration</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="cover-art-pane" class="ui-widget ui-widget-content">
            <img class="cover-img active" src="static/images/blank.png" width="100%" height="100%">
            <img class="cover-img inactive" src="static/images/blank.png" width="100%" height="100%">
        </div>
    </div>
    <div id="content" class="ui-layout-center">
        <div id="now-playing-pane" class="table-container content-pane">
            <div id="now-playing-pane-widget" class="content-widget ui-widget ui-widget-content ui-corner-left"> 
                <div class="scrolling-container">
                    <table>
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Now Playing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                Now playing information will eventually go here.
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div id="play-queue" class="table-container content-pane">
            <div id="play-queue-widget" class="content-widget ui-widget ui-widget-content ui-corner-left"> 
                <div class="scrolling-container">
                    <table>
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Play Queue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                A play queue will eventually go here.
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div id="music-library" class="content-pane">
            <div id="artist-album-lists">
                <div id="artists-container" class="table-container ui-widget ui-widget-content ui-corner-left"></div>
                <div id="albums-container" class="table-container ui-widget ui-widget-content ui-corner-left"></div>
            </div>
            <div id="songs-container" class="table-container ui-widget ui-widget-content ui-corner-left"></div>
        </div>
        <div id="playlists" class="table-container content-pane">
            <div id="playlists-widget" class="content-widget ui-widget ui-widget-content ui-corner-left"> 
                <div class="scrolling-container">
                    <table>
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Playlists</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div id="preferences" class="table-container content-pane">
            <div id="preferences-widget" class="content-widget ui-widget ui-widget-content ui-corner-left"> 
                <div class="scrolling-container">
                    <table>
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Preferences</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <div id="bitrate-container" class="option">
                                    <div id="bitrate-slider"></div>
                                    Streaming bitrate: <span id="amount">320</span>kbps
                                </div>
                                <div class="option">
                                    <input id="html5-audio" type="checkbox">
                                    <label for="html5-audio">Try to use HTML5 audio</label>
                                    <div><em>Currently using <span id="player-type"></span></em></div>
                                </div>
                                <div class="option">
                                    <div id="switcher"></div>
                                </div>
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div id="settings" class="table-container content-pane">
            <div id="settings-widget" class="content-widget ui-widget ui-widget-content ui-corner-left"> 
                <div class="scrolling-container">
                    <table>
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                Server settings will eventually go here.
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div id="administration" class="table-container content-pane">
            <div id="administration-widget" class="content-widget ui-widget ui-widget-content ui-corner-left"> 
                <div class="scrolling-container">
                    <table>
                        <thead class="ui-widget-header">
                            <tr>
                                <th class="ui-corner-all">Administration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <div class="option">
                                    <button id="shutdown-button">Shutdown</button>
                                </div>
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        
    </div>
    <div id="actions" class="table-container">
        <div id="actions-widget" class="content-widget ui-widget ui-widget-content ui-corner-left">
            <div class="scrolling-container">
                <table>
                    <thead class="ui-widget-header">
                        <tr>
                            <th class="ui-corner-all">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="option">
                                    <button id="download-button">Download</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
    <div id="jplayer"></div>
    <div id="cover-art-dialog">
        <img src="static/images/blank.png">
    </div>
    <div id="shutdown-dialog" title="Shutdown">
        <p>The Blofeld server is shutting down... <span></span></p>
    </div>

    <!-- Javascript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="static/js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script>!$.ui && document.write(unescape('%3Cscript src="static/js/jquery-ui-1.8.6.min.js"%3E%3C/script%3E'))</script>

    <!-- jQueryUI Theme Switcher -->
    <script src="http://jqueryui.com/themeroller/themeswitchertool/"></script>

    <!-- Try to detect IE8 Compatibility Mode and notify the user they need to
    change their settings because that will render this site in a horribly 
    broken manner -->
    <!--[if IE ]>
    <script src="static/js/detectie8compat.js"></script>
    <![endif]-->
    <script src="static/js/plugins.js?v=1"></script>
    <script src="static/js/jquery.layout.min-1.2.0.js"></script>
    <script src="static/js/jquery.tablesorter.min.js"></script>
    <script src="static/js/jquery.jplayer.min.js"></script>
    <script src="static/js/jquery.address-1.3.min.js"></script>
    <script src="static/js/script.js?v=1"></script>


    <!--[if lt IE 7 ]>
        <script src="js/dd_belatedpng.js"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->


    <!-- yui profiler and profileviewer - remove for production -->
<!--    <script src="static/js/profiling/yahoo-profiling.min.js"></script>-->
<!--    <script src="static/js/profiling/config.js?v=1"></script>-->
    <!-- end profiling code -->


    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
             change the UA-XXXXX-X to be your site's ID -->
<!--    <script>-->
<!--     var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];-->
<!--     (function(d, t) {-->
<!--        var g = d.createElement(t),-->
<!--                s = d.getElementsByTagName(t)[0];-->
<!--        g.async = true;-->
<!--        g.src = '//www.google-analytics.com/ga.js';-->
<!--        s.parentNode.insertBefore(g, s);-->
<!--     })(document, 'script');-->
<!--    </script>-->

</body>
</html>
