                    <div class="scrollingContainer">
                        <table id="songs">
                            <thead>
                                <tr>
                                    <th class="status"></th>
                                    <th class="track-number">#</th>
                                    <th class="title">Title</th>
                                    <th class="genre">Genre</th>
                                    <th class="artist">Artist</th>
                                    <th class="album">Album</th>
                                </tr>
                            </thead>
                            <tbody>
#for $song in $songs
                                <tr class="song" id="$song">
                                    <td class="status"></td>
                                    <td class="track-number">#try#$songs[$song]['tracknumber']#except# #end try#</td>
                                    <td class="title">#try#$songs[$song]['title']#except#Unknown Title#end try#</td>
                                    <td class="genre">#try##echo ', '.join($songs[$song]['genre'])##except# #end try#</td>
                                    <td class="artist">#try#$songs[$song]['artist']#except#Unknown Artist#end try#</td>
                                    <td class="album">#try#$songs[$song]['album']#except#Unknown Album#end try#</td>
                                </tr>
#end for
                            </tbody>
                        </table>
                    </div>
