                <div class="scrolling-container">
                    <table id="albums">
                        <tbody>
                            <tr class="album ui-corner-all ui-state-default" id="all-albums">
                                <td class="ui-corner-all">All Albums (<span id="album-count"></span>)</td>
                            </tr>
#for $album in $albums
                            <tr class="album ui-corner-all" id="$album['id']">
                                <td class="ui-corner-all">$album['title']</td>
                            </tr>
#end for
                        </tbody>
                    </table>
                </div>
