                    <div class="scrollingContainer">
                        <table id="songs">
                            <thead>
                                <tr>
                                    <th class="status"></th>
                                    <th class="track-number">#</th>
                                    <th class="title">Title</th>
                                    <th class="genre">Genre</th>
                                    <th class="artist">Artist</th>
                                    <th class="album">Album</th>
                                </tr>
                            </thead>
                            <tbody>
#for $song in $songs
                                <tr class="song" id="$song">
                                    <td class="status"></td>
                                    <td class="track-number">#try#$songs[$song]['tracknumber']#except# #end try#</td>
                                    <td class="title">$songs[$song]['title']</td>
                                    <td class="genre">#echo ', '.join($songs[$song]['genre'])#</td>
                                    <td class="artist">$songs[$song]['artist']</td>
                                    <td class="album">$songs[$song]['album']</td>
                                </tr>
#end for
                            </tbody>
                        </table>
                    </div>
