                    <div class="scrollingContainer">
                        <table id="artists">
                            <thead>
                                <tr>
                                    <th>Artists</th>
                                </tr>
                            </thead>
                            <tbody>
#for $artist in $artists
                                <tr class="artist" id="$artist">
                                    <td>$artists[$artist]</td>
                                </tr>
#end for
                            </tbody>
                        </table>
                    </div>
