<!doctype html> 
<html> 
    <head> 
        <title>Blofeld</title> 
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="assets/jquery.jplayer.js"></script>
        <script type="text/javascript" src="assets/tablesorter.js"></script>
        <script type="text/javascript" src="assets/blofeld.js"></script>
        <link rel="stylesheet" href="assets/blofeld.css" type="text/css">
    </head> 
    <body> 
        <h1>Blofeld</h1>
        <ul id="controls">
            <li id="media-skip-backward"></li>
            <li id="media-playback-start"></li>
            <li id="media-playback-pause"></li>
            <li id="media-skip-forward"></li>
        </ul>
        <table id="browser">
            <tr>
                <td id="artistsContainer"></td>
                <td rowspan="2" id="songsContainer"></td>
            </tr>
            <tr>
                <td id="albumsContainer"></td>
            </tr>
        </table>
    </body>
</html>
