html, html body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background-color {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-color: inherit;
    background-image: none;
}

#splash-background {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 98;
}

#splash-text {
    background-image: url('../images/logo.png');
    width: 300px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -150px;
    z-index: 99;
}

#header {
    padding: 6px 6px 0 6px;
}

#header-widget {
    padding: 3px 0 3px 3px;
    vertical-align: middle;
    clear: right;
    margin: 0;
    line-height: 0px;
}

#header-widget > div {
    margin: 0 3px 0 3px;
    vertical-align: middle;
    display: inline-block;
}

#controls {
    padding: 0;
}

#bitrate-container {
    padding: 0 3px;
    text-align: center;
}

#bitrate-slider {
    margin-bottom: 3px;
}

#progress {
    line-height: normal;
    font-size: 0.87em;
}

#progress-bar {
    width: 100px;
    margin: 2px 0 2px 0;
}

#now-playing {
    display: inline-block;
    margin: 0;
    height: 32px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#now-playing td {
    padding: 0;
    margin: 0;
}

#cover-art {
    margin: 0 6px 0 6px;
    width: 32px;
    height: 32px;
    background: url('../images/cover.png') no-repeat;
    cursor: pointer;
}

.cover-img {
    position: absolute;
}

.cover-img.active {
    z-index: 100;
}

.cover-img.inactive {
    z-index: 99;
}

#now-playing-text {
    line-height: normal;
}

#now-playing-title {
    font-weight: bold;
}

#spacer {
    display: inline-block;
    width: 0px;
    height: 32px;
    margin: 0;
    padding: 0;
}

#search {
    float: right;
    position: relative;
    margin: 0 0 10px 0;
    padding: 3px;
}

#clear-search {
    float: right;
    margin: 3px 0 0 3px;
}

#search-box {
    height: 1.67em;
    padding: 0 4px;
    margin: 0;
}

.table-container {
    padding: 0 6px 3px 0;
}

.scrolling-container {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    padding: 3px 3px 0px 3px;
    height: 100%;
    width: 100%;
}

#albums, #artists {
    margin-bottom: 3px;
}

img, table, td, th, tr, thead {
    border: none;
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}

td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: middle;
    padding: 3px 5px 3px 5px;
}

.track-number {
    width: 2.3em;
}

.time, .year {
    width: 4em;
}

tr.artist, tr.album, tr.song, thead > tr {
    height: 2em;
}

.status {
    width: 19px;
}

#browser {
    padding-left: 6px;
}

#sidebar {
    padding: 0 6px 5px 0;
}

#sidebar-widget {
    padding: 0 6px 3px 0;
    height: 100%;
}

.ui-layout-toggler {
    overflow: hidden;
    text-align: center;
}

#jplayer, #browser, .ui-layout-resizer {
    background-color: inherit;
}

#browser-resizer:active {
    cursor: w-resize;
}

#cover-art-dialog {
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

#play-time-total {
    float: right;
}

.option {
    margin: 6px 3px 6px 3px;
}
